* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

a {
    text-decoration: none;
    color: white;
}



/* HEADER */
header {
    height: 120px;
    display: flex;
    gap: 2rem;
    align-items: center;
}

.img-div-logo {
    padding-left: 10%;
}

.label {
    width: 273px;
    height: 74px;
}

.label .text-wrapper {
    width: 273px;
    top: 0;
    left: 0;
    font-family: "Segoe UI-Regular", Helvetica;
    font-weight: 400;
    color: #2c145e;
    font-size: 28px;
    letter-spacing: 3.5px;
    line-height: 37px;
}




/* MAIN */
.main-title-article {
    font-family: var(--h1-font-family);
    font-weight: 60px;
    color: #ffffff;
    font-size: var(--h1-font-size);
    letter-spacing: var(--h1-letter-spacing);
}
.container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding-left: 10%;
    padding-right: 10%;
}
.container>h1 {
    font-size: 50px;
    margin-bottom: 30px;
}
.main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
}
.main-image {
    /* background-image: url(images/0cdfb0183c985bea52e35b50e99f0909.jpg); */
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 430px;
    color: white;
    margin-bottom: 1rem;
    padding-left: 10%;
}

.main-article {
    font-size: 25px;
}



.news {
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    gap: 1rem;
}

.about-new {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 1rem;
}


.news .frame {
    padding: 6px 18px;
    background-color: var(--light-grey);
    border-radius: 20px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    flex: 0 0 auto;
}

.news .text-wrapper {
    width: fit-content;
    font-family: var(--date-font-family);
    font-weight: var(--date-font-weight);
    color: var(--grey);
    font-size: var(--date-font-size);
    letter-spacing: var(--date-letter-spacing);
    line-height: var(--date-line-height);
    font-style: var(--date-font-style);
}

.news .div {
    color: var(--brand-color);
    font-size: var(--h2-font-size);
    font-family: var(--h2-font-family);
    font-weight: var(--h2-font-weight);
    letter-spacing: var(--h2-letter-spacing);
    line-height: var(--h2-line-height);
    font-style: var(--h2-font-style);
}

.news .p {
    font-family: var(--text-font-family);
    font-weight: var(--text-font-weight);
    color: var(--body-text);
    font-size: var(--text-font-size);
    letter-spacing: var(--text-letter-spacing);
    line-height: var(--text-line-height);
    font-style: var(--text-font-style);
}

.news .frame-2 {
    padding: 16px 40px;
    background-color: var(--brand-color);
    border-radius: 50px;
    border: 2px solid;
    border-color: #9b407a;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    position: relative;
    flex: 0 0 auto;
    cursor: pointer;
}

.news .text-wrapper-1 {
    width: fit-content;
    margin-top: -2px;
    color: var(--white);
    font-size: var(--button-text-font-size);
    position: relative;
    font-family: var(--button-text-font-family);
    font-weight: var(--button-text-font-weight);
    letter-spacing: var(--button-text-letter-spacing);
    line-height: var(--button-text-line-height);
    font-style: var(--button-text-font-style);
}

.news .arrow {
    position: relative;
    width: 27px;
    height: 14.73px;
    margin-right: -1px;
}


/* BUTTONS PAGES */

.frame {
    display: flex;
    justify-content: end;
    gap: 16px;
}

.frame .div-wrapper {
    background-color: white;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 16px 23px;
    position: relative;
    flex: 0 0 auto;
    border-radius: 50px;
    border: 2px solid;
    border-color: var(--brand-color);
    
}

.frame .div-wrapper-arrow {
    background-color: white;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 16px 23px;
    position: relative;
    flex: 0 0 auto;
    border-radius: 50px;
    border: 2px solid;
    border-color: var(--brand-color);
    
}
.frame .div-wrapper:hover {
    cursor: pointer;
}
.frame .div-wrapper-arrow {
    cursor: pointer;
}


.frame .text-wrapper-2 {
    position: relative;
    width: fit-content;
    margin-top: -2px;
    font-family: var(--button-text-font-family);
    font-weight: var(--button-text-font-weight);
    color: var(--brand-color);
    font-size: var(--button-text-font-size);
    letter-spacing: var(--button-text-letter-spacing);
    line-height: var(--button-text-line-height);
    font-style: var(--button-text-font-style);
    pointer-events: none;
}

.frame .img {
    position: relative;
    flex: 0 0 auto;
}

.div-wrapper.active-page {
    background-color: rgba(132, 24, 68, 1);
}

.div-wrapper.active-page > div {
    color: white;
}


/* FOOTER */
footer {
    display: flex;
    align-items: center;
    height: 150px;
}

.text-wrapper-footer {
    font-size: 20px;
    padding-left: 10%;
}
